/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.nav-link-tooltip {
    font-weight: normal;
    color: #3c48e5;
    text-decoration: none;
    position: relative;
}

.tooltip:hover {
    text-decoration: underline;
}

    .tooltip:hover .tooltip-box {
        display: inline-block;
    }

.tooltip-box {
    display: none;
    position: absolute;
    background: #000;
    line-height: 20px;
    z-index: 500;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    left: 0;
    right: 0;
    bottom: 30px;
}

    .tooltip-box::after {
        content: "";
        display: block;
        border-top: 7px solid #000;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        bottom: -7px;
        left: calc(50% - 7px);
    }


.ImgItemListar {
    height: 2rem;
    border: double;
}

.columnas {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}

card-body {
    height: 100px;
}

.card-title {
    text-align: center;
    color: mediumseagreen;
}

.card-text {
    text-align: center;
    color: red;
}

.TituloDetalle {
    text-align: center;
    color: red;
}

.list-group {
    text-align: center;
}

.footer {
    background-color: red;
}

.ImgCarrusel {
    height: 250px;
    width: 1300px;
}

.ContenedorInicio {
    background-color: #a8aab7;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
