/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}



.ImgItemListar {
    height: 2rem;
    border: double;
}
.ImgCard {
    height: 100px;
    width: 200px;
}

.bodyvinilo {
    height: 150px;
    width: 200px;
}
.rowvinilos {
    justify-content: space-around;
}

.card-title{
    text-align: center;
    color: mediumseagreen;
}

.card-text {
    text-align: center;
    color: red;
    font-size-adjust:inherit;
    justify-items:stretch;
    height:25px;
}

.TituloDetalle {
    text-align: center;
    color: red;
}

.list-group {
    text-align: center;
}

.footer {
    background-color: red;
}

.ImgCarrusel {
    height: 250px;
    width:inherit;
}

.ContenedorInicio {
    background-color: #a8aab7;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
